.nav__manue {
  position: relative;
  padding: 1rem;
  &-icon {
    color: var(--white);
    width: 3rem;
    height: 3rem;
  }
  &-slider {
    width: 20rem;
    height: 45rem;
    background-color: var(--deep-navy);
    z-index: 2;
    padding: 4rem;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
    animation: roll 0.2s linear;
  }
  @keyframes roll {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  &-slider span {
    color: var(--white);
    font-size: 1.5rem;
    position: absolute;
    top: 2%;
    right: 6%;
    cursor: pointer;
  }
  &-links {
    display: flex;
    flex-direction: column;
  }
  &-links a:hover {
    color: var(--deep-orange);
  }
  &-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.8rem 0;
    border-bottom: 1px solid #727070;
    padding: 0.2em;
  }
  &-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  &-btn {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
  }
}
