.galary__container {
  margin-top: 8rem;
  background-color: var(--deep-bg-color);
  width: 100%;
  display: grid;
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  gap: 1rem;
  overflow: hidden;
  padding: 1rem;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
#A1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
#A2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
#A3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}
#A4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}
#A5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
#A6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
#A7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}
#A8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
#A9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}
#A10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2;
}
#A11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}
#A12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 5;
}
#A13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}
#A14 {
  grid-row: 6 / span 2;
  grid-column: 8 / span -1;
}
