.feature__contaioner {
  padding-top: 8rem;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(2fr);
  grid-template-columns: repeat(3, 30%);
  gap: 4rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    width: 80%;
  }
}
.text {
  font-size: 1rem;
  line-height: 1.5;
}
.text h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--gray);
}
.text p {
  color: var(--gray);
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
}
