.footer__container {
  margin-top: 8rem;
  background-color: var(--deep-navy);
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  @media screen and (max-width: 700px) {
    height: 35rem;
  }
  &-links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @media screen and (max-width: 945px) {
      width: 95%;
    }
    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-bg {
      width: 18rem;
      height: 4rem;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-out;
    }
    &-bg:hover {
      background-color: rgba(255, 255, 255, 0.212);
      transform: translateY(-0.5rem);
      box-shadow: 0 0.5rem 1.8rem rgba(255, 255, 255, 0.1);
    }
  }
  &-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.8rem;
    padding: 1rem;
    @media screen and (max-width: 945px) {
      font-size: 0.6rem;
      line-height: 1.2rem;
    }
  }
  &-copyright {
    color: var(--white);
    text-align: center;
    padding: 1rem;
  }
}
