#container__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.nav__manue-left {
  width: 5rem;
  height: 329rem;
  background-color: var(--deep-orange);
}
.whole__body {
  width: 95.5%;
  height: 100%;
}
@media (max-width: 700px) {
  #container__main {
    display: flex;
    flex-direction: column;
  }
  .nav__manue-left {
    width: 100%;
    height: 5rem;
    background-color: var(--deep-orange);
  }
  .whole__body {
    width: 100%;
  }
}
