@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Open+Sans:wght@400;500&display=swap');

:root {
  --deep-orange: #c69963;
  --white: #ffffff;
  --gray: #54483a;
  --deep-navy: #101d2c;
  --deep-bg-color: rgba(235, 229, 229, 0.425);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
}
