.products__container-sub {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  @media screen and (max-width: 1076px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-img {
    width: 50%;
    display: grid;
    grid-template-rows: repeat(2, 15vw);
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 4rem;
    @media screen and (max-width: 1076px) {
      width: 90%;
      padding: 2rem 0;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &-text {
    width: 50%;
    color: var(--gray);
    padding: 8rem;
    @media screen and (max-width: 1076px) {
      width: 80%;
      padding: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 700px) {
      width: 90%;
      text-align: center;
    }
    &-bg {
      font-size: 2rem;

      margin-bottom: 2rem;
    }
    &-md {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    &-sm {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 2rem;
      width: 80%;
      @media screen and (max-width: 1076px) {
        width: 100%;
      }
    }
  }
}
.bg {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
